@import "../base/settings";

.article {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 45vw;
    background-color: $lbc;
    padding: 30px;
    border: solid 1px rgb(161, 161, 161);
    box-shadow: 2px 3px 5px rgb(75, 75, 75);
    border-radius: 30px;
    transition: transform 0.2s;
    animation-name: p;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    cursor: pointer;
}
.article:hover {
    transform: scale(1.01);
}

@keyframes p {
    from {
        transform: translateY(1000px);
    }
    to {
        transform: translateY(0px);
    }
}

#proPic {
    height: 50px;
    width: 60px;
    border-radius: 50px;
}

.authName {
    width: 100px;
    font-weight: bold;
}

.body {
    text-align: center;
}

.authorCard {
    max-width: 50%;
    // border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;

    span {
        margin-top: 15px;
        width: 100%;
        margin-left: 10px;
        font-size: 1.2rem;
        color: $llc;
    }
}

.comment {
    background-color: $bc;
    padding: 10px;
    box-shadow: 1px 0px 5px rgb(90, 90, 90);
}

@media screen and (max-width: 577px) {
    .article {
        width: 80vw;
        font-size: 0.8rem;
    }
}
