@import "../base/settings";

nav {
    color: $llllc;

    img {
        height: 45px;
    }
}

.logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 200px;
    width: 20%;
    font-size: 30px;
}

.nav-con {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: $llc;
}

li {
    padding: 15px 30px;
    list-style: none;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: solid 3px $llc;
}

li:hover {
    border-bottom: solid 3px white;
    color: white;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    img {
        height: 30px;
        margin-right: 20px;
    }

    img:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

.logReg {
}

.userPic {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-left: 20px;
}
