@import "../base/settings";

Article {
    margin: 100px;
}

.loader {
    height: 50px;
    width: 50px;

    position: fixed;
    left: 48%;
    top: 45%;
    transform: translateX(-50%);
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: center;
    animation-timing-function: linear;
}
.loader:hover {
    transform: rotateZ(80deg);
}

@keyframes loading {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.loginModal {
    position: absolute;
    z-index: 10;
}
