//  colors

$tc: black;
$atc: white;
$bc: rgb(223, 223, 223);
$lbc: rgb(241, 241, 241);
$dbc: #77a6f7;

$dc: #00887a;
$lc: #ffccbc;
$llllc: rgb(235, 235, 235);
$lllc: #d3e3fc;
$llc: #4c6085;

//  -----------
